/* CSS (in style.css file) */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    background-image: url('https://tse3.explicit.bing.net/th?id=OIP.3hdd8aAZqtltyHByrhJ-HwHaE8&pid=Api&P=0&h=180') ;
    
  }
  
  .container {
    width: 80%;
    margin: 40px auto;
    display: flex;
    justify-content: center;
  }
  
  .signup-form {
    width: 45%;
    background-color: #f7f7f7;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  h2 {
    margin-top: 0;
  }
  
  label {
    display: block;
    margin-bottom: 10px;
  }
  
  input[type="text"], input[type="email"], input[type="password"] {
    width: 100%;
    height: 40px;
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
  }
  
  input[type="submit"] {
    width: 100%;
    height: 40px;
    background-color: #4CAF50;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
  }
  
  input[type="submit"]:hover {
    background-color: #3e8e41;
  }